@font-face {
    font-family: "TheCrooker";
    src: url("../fonts/TheCrooker.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BlackerSans";
    src: url("../fonts/BlackerSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
html {
    scrollbar-width: none;
    width: 100%;
}
body {
    font-family: "BlackerSans", sans-serif;
    font-weight: 550;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}
header img {
    margin-right: 2%;
    padding: 0 1%;
    height: 6rem;
}
header {
    margin-top: 0.5%;
    display: flex;
    width: auto;
    margin-bottom: 0.5%;
}
nav {
    width: 100%;
}
nav ul {
    display: flex;
    padding: 1.2% 0;
}
nav li {
    list-style: none;
    padding: 0 1%;
    margin: 0 auto;
    font-size: 1.5rem;
}
nav a {
    text-decoration: none;
    color: #385752;
    transition: color 0.5s ease;
}
nav a:hover {
    color: #A1B4A5;
}
.banner {
    position: relative;
}
.banner img {
    width: 100%;
    opacity: 90%;
}
.banner_text {
    font-family: "BlackerSans";
    position: absolute;
    top: 32%;
    left: 15%;
    font-size: 4rem;
    color: white;
}
.banner_button {
    position: absolute;
    top: 62%;
    left: 43%;
}
.banner_button button {
    border: none;
    background-color: #385752;
    font-family: "BlackerSans";
    font-size: 1.5rem;
    padding: 14%;
    width: 140%;
    border-radius: 1.5rem;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.banner_button a {
    text-decoration: none;
    color: inherit;
}
.banner_button button:hover {
    color: #385752;
    background-color: white;
}
.about {
    margin-top: 7%;
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 5%;
}
.about_1 img {
    top: 0;
    right: 5%;
    position: absolute;
    width: 25%;
    border-radius: 1.5rem;
    transition: width 0.5s ease;
}
.about_2 img {
    top: 10%;
    right: 20%;
    position: absolute;
    width: 27%;
    border-radius: 1.5rem;
    transition: width 0.5s ease;
}
.about_1 img:hover {
    width: 25.5%;
}
.about_2 img:hover {
    width: 27.5%;
}
.about_text {
    margin-top: 3%;
    margin-left: 8%;
    width: 40%;
}
.about_text h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 2%;
    color: #385752;
}
.about_text p {
    margin-top: 0;
    text-align: justify;
    font-size: 1.8rem;
    color: #385752;
    margin-bottom: 0;
    padding-bottom: 2.4%;
}
.about_button button {
    border: none;
    background-color: #F5B6D0;
    font-family: "BlackerSans";
    font-size: 1.8rem;
    padding: 3%;
    width: 45%;
    border-radius: 1.5rem;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.about_button a {
    text-decoration: none;
    color: inherit;
}
.about_button button:hover {
    background-color: #385752;
}
.functions {
    background-color: #e9f5eb;
    color: #385752;
    margin-top: 7%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}
.function_image {
    padding: 0 3.7%;
    display: flex;
    align-items: center;
}
.function_image img {
    height: 55%;
    margin-right: 5%;
    border-radius: 1.5rem;
}
.function_text h3 {
    margin-bottom: 0;
    font-size: 2.5rem;
    margin-top: 0;
}
.function_text p {
    width: 90%;
    margin-top: 0;
    font-size: 1.7rem;
    text-align: justify;
}
.functions button {
    font-family: "BlackerSans";
    border: none;
    background-color: #F5B6D0;
    font-size: 1.5rem;
    padding: 1.5rem;
    width: 15rem;
    border-radius: 2rem;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.functions a {
    text-decoration: none;
    color: inherit;
}
.functions button:hover {
    background-color: #385752;
}
.right_func {
    margin-left: 2%;
    height: 60%;
    margin-right: 5%;
    border-radius: 1.5rem;
    transition: height 0.5s ease;
}
.right_func:hover {
    height: 62%;
}
footer {
    width: 100%;
    text-align: center;
    background-color: #385752;
}
footer p {
    padding: 2% 0;
    color: white;
    font-size: 1rem;
    margin: 0;
}