@font-face {
    font-family: "TheCrooker";
    src: url("../fonts/TheCrooker.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BlackerSans";
    src: url("../fonts/BlackerSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
header img {
    height: 6.6rem;
}
nav li {
    font-size: 1.65rem;
}
.timer {
    position: relative;
    min-height: 800px;
    margin-top: 0;
    background-image: url(../media/timer_back.jpg);
}
.info p {
    margin-top: 0;
    padding: 8%;
    text-align: center;
    font-size: 1.8rem;
    color: #385752;
}
.info input[type="number"] {
    text-align: center;
    background: none;
    width: 4.5rem;
    font-size: 4rem;
    border: none;
    font-family: "TheCrooker";
    color: #F32279;
}
.info input::-webkit-outer-spin-button, .info input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.countdown {
    top: 28%;
    left: 34%;
    position: absolute;
    margin: 0 auto;
    display: flex;
    font-size: 13rem;
    font-family: "TheCrooker";
    color: #385752;
}
button {
    padding-top: 4.5%;
    display: block;
    margin: 0 auto;
    background: none;
    border: 0;
}
button img {
    width: 160px;
}
footer {
    margin-top: 5%;
}